<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<title>Yo Path.</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='style.css' rel='stylesheet' type='text/css'>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
window.pts = {{main}};
</script>
</head>
<body>
	<header id="index">
  	<h1>Yo Path</h1>
	<h2>Find your path.</h2>
	</header>
	<section id="data">
	<div id="inner">
	<p>Have you ever wanted to take a walk on the unbeaten path?  Document your running trail?  Let your friends know where you are in a strange city?  Or perhaps share your latest road trip with your friends?</p>

	<div class="right" style="margin-left: 20px">
		<img src="app.png" alt="App">
	</div>

	<p>What if we told you that all of that was possible with Yo? (It is!)</p>

	<p><strong>Yo Path</strong> allows you to map your trips and share them with friends, quickly and painlessly and with no additional apps required.  Travel in style and safety.</p>

	  
	<h3>Where can I get Yo Path?</h3>

	<p>Install Yo.  Add the following three Yo accounts as friends:</p>

	<ul id="reg">
	<li>startpath</li>
	<li>plotpath</li>
	<li>endpath</li>
	</ul>
	
	<p>That's it!</p>

	<h3>How do I use Yo Path?</h3>

	<ul id="reg">
	<li>To start recording your trip, send a Yo to <em>startpath</em></li>
	<li>To plot a point on your trip (do this occasionally!), send a Yo to <em>plotpath</em></li>
	<li>To finish your trip, send a Yo to <em>endpath</em></li>
	</ul>

	<p>After finishing your journey, you will receive a Yo that contains a link to your customized trip page, which includes a trail map and additional details.</p>
	</div>
	</section>

	<footer>
	Made for <a href="http://hackprinceton.com">HackPrinceton Fall 2014</a>.  <a href="mailto:&#108;&#101;&#111;&#110;&#064;&#108;&#122;&#097;&#114;&#117;&#118;&#105;&#110;&#115;&#107;&#121;&#046;&#099;&#111;&#109;?subject=Yo Path">Report a bug</a>.
	</footer>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-5693772-46', 'auto');
	ga('send', 'pageview');
</script>
</body>
</html>
