<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Yo {{user}}! Here's your path.</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      header { margin: 0; padding: 0;
			font-size: 15px;
			background: #8E44AD;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-align: center;
			padding: 10px;
			color: #333;
			list-style-type: none;
			-webkit-font-smoothing: antialiased;
			text-rendering:optimizelegibility;
			}
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">
    	window.pts = {{main}};
	</script>
    <script src="script.js"></script>
  </head>
 <body>
	<header>
  	<h1>Yo <span>{{user}}</span>! Here's your path.</h1>
	<ul>
		<li><span>Started:</span> {{start}}</li>
		<li><span>Finished:</span> {{end}}</li>
		<li><span>Time Elapsed:</span> {{elapsed}}</li>
	</ul>
  	</header>	

	<section id="map-canvas"></section>
</body>
</html>
